
<footer data-anchor="@@anchor" class="section">
	<div class="flex-wrap my-container padding-right">
		<span class="status">Где</span>
		<div class="flex-block">

			<div class="ft-center">
				<span class="ftc-hdr h1">Офисы Movchan’s Group</span>

				<div class="ftc-flex">
					<div class="ftc-nav">
						<span class="ftc-nv-itm">
							Великобритания <span class="ftc-nv-img"><img src="img/small-arr.svg" alt="arr"></span>
							<div class="ftc-nv-content">
								<span class="ftc-cw-hdr">
									7A Abbey Business Park,
									Monks Walk, Farnham Surrey
									London GU9 8HT
									+44 7770 773916 
									<span class="quest">?
										<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
									</span>
								</span>

								<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
							</div>		
						</span>
						<span class="ftc-nv-itm">
							Каймановы острова <span class="ftc-nv-img"><img src="img/small-arr.svg" alt="arr"></span>
							<div class="ftc-nv-content">
								<span class="ftc-cw-hdr">
									7A Abbey Business Park,
									Monks Walk, Farnham Surrey
									London GU9 8HT
									+44 7770 773916 
									<span class="quest">?
										<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
									</span>
								</span>

								<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
							</div>		
						</span>
						<span class="ftc-nv-itm">
							Казахстан <span class="ftc-nv-img"><img src="img/small-arr.svg" alt="arr"></span>
							<div class="ftc-nv-content">
								<span class="ftc-cw-hdr">
									7A Abbey Business Park,
									Monks Walk, Farnham Surrey
									London GU9 8HT
									+44 7770 773916 
									<span class="quest">?
										<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
									</span>
								</span>

								<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
							</div>		
						</span>
						<span class="ftc-nv-itm">
							Кипр <span class="ftc-nv-img"><img src="img/small-arr.svg" alt="arr"></span>
							<div class="ftc-nv-content">
								<span class="ftc-cw-hdr">
									7A Abbey Business Park,
									Monks Walk, Farnham Surrey
									London GU9 8HT
									+44 7770 773916 
									<span class="quest">?
										<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
									</span>
								</span>

								<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
							</div>		
						</span>
					</div>

					<div class="ftc-content-wrap">
						<div class="ftc-content">
							<span class="ftc-cw-hdr">
								7A Abbey Business Park,
								Monks Walk, Farnham Surrey
								London GU9 8HT
								+44 7770 773916 
								<span class="quest">?
									<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
								</span>
							</span>

							<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
						</div>
						<div class="ftc-content">
							<span class="ftc-cw-hdr">
								7A Abbey Business Park 2,
								Monks Walk, Farnham Surrey
								London GU9 8HT
								+44 7770 773916 
								<span class="quest">?
									<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
								</span>
							</span>

							<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
						</div>
						<div class="ftc-content">
							<span class="ftc-cw-hdr">
								7A Abbey Business Park 3,
								Monks Walk, Farnham Surrey
								London GU9 8HT
								+44 7770 773916 
								<span class="quest">?
									<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
								</span>
							</span>

							<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
						</div>
						<div class="ftc-content">
							<span class="ftc-cw-hdr">
								7A Abbey Business Park 4,
								Monks Walk, Farnham Surrey
								London GU9 8HT
								+44 7770 773916 
								<span class="quest">?
									<span class="q-hidden">Результаты стратегии на 1 квартал 2022 года., включая период управления на собственном счете компании (сентябрь 2020 г. – июнь 2021 г.).</span>
								</span>
							</span>

							<span class="ftc-cw-descr">Уполномоченный представитель RGL Capital LLP, компании, зарегистрированной вВеликобритании, уполномоченной и регулируемой Управлением по финансовому надзору (FCA) для предоставления услуг по консультированию/организации инвестиций.</span>
						</div>
					</div>

					<div class="ftc-contacts">
						<div class="ftc-c-itm">
							<a href="mailto:contact@movchans.com" class="ftc-ci-mail">contact@movchans.com</a>
							<span class="ftc-ci-descr">По общим вопросам</span>
						</div>
						<div class="ftc-c-itm">
							<a href="mailto:inaumova@movchans.com" class="ftc-ci-mail">inaumova@movchans.com </a>
							<span class="ftc-ci-descr">Сотрудничество и PR</span>
						</div>
					</div>
				</div>
			</div>		
			
			<div class="ft-btm">
				<a href="tel:+77172760334" class="ftb-phone">+7 717 2760 334</a>
				<a href="#" class="btn">Обратная связь</a>
			</div>

		</div>
	</div>
</footer>



<!-- libs JS -->
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/fullPage/fullpage.js"></script>
<script src="libs/apexcharts/apexcharts.js"></script>
<script src="libs/swiper-master/swiper.min.js"></script>

<script src="libs/particles/three/particles.min.js"></script>
<script src="libs/particles/pw01.js"></script>
<!-- Custom JS -->
<script src="js/app.min.js"></script>