
<header class="@@class">
	<div class="my-container padding-right flex">
		
		<div class="hd-logo">
			<img src="img/logo.svg" alt="logo">
		</div>

		<div class="hd-mnu">
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#">Фонды</a></li>
				<li><a href="#">Публикации</a></li>
				<li><a href="#">Сотрудничество</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>

		<div class="hd-lang">
			<span class="hdl-descr active">Ru</span>
			<a href="#" class="hdl-descr">En</a>
		</div>

		<div class="hd-right">
			<a href="#" class="hd-ltr"></a>
			<div class="hd-burger"></div>
			<a href="#" class="hd-order"></a>
		</div>

	</div>
</header>