@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

// 1400-1500

@media only screen and (max-width : 1700px)
	.h2, h2
		font-size: 29px
		line-height: 42px
	.h1, h1
		font-size: 60px
		line-height: 75px

	.title
		font-size: 65px
		line-height: 63px

	.my-container.padding-right
		padding-right: 267px

	.s-graphics .sg-chart-wrap
		width: calc(100% - 267px)

	.btn
		font-size: 18px
		line-height: 18px

	.right-menu
		min-width: 241px
		max-width: 241px
	.right-menu .rm-top
		padding-left: 33px
		padding-right: 33px
		padding-top: 49px
		padding-bottom: 49px
	.right-menu .rm-center
		padding-left: 33px
		padding-right: 15px

	.small-descr
		font-size: 22px
		line-height: 38px

	header .hd-logo
		margin-right: 86px
	header .hd-mnu ul
		margin-right: 67px
	header .hd-mnu ul li
		margin-right: 74px
	header .hd-lang .hdl-descr
		margin-right: 12px


	.s-solutions .ss-text .sst-descr
		font-size: 18px
		line-height: 28px
		margin-bottom: 32px
	.s-solutions .s-social
		bottom: 47px
	.s-solutions .ss-text::before
		top: 18px
		left: 5px
	.s-solutions .flex-wrap .flex-block
		padding-bottom: 15vh
	.s-solutions .ss-text
		padding-left: 56px

	.s-group .sg-btn-wrap .sg-name
		font-size: 18px
		line-height: 28px
	.s-group .my-container.padding-right
		padding-bottom: 72px
	.s-group .h2
		margin-bottom: 51px

	.s-three .h2
		max-width: 1000px
	.s-three .st-items .st-itm .sti-descr
		font-size: 18px
		line-height: 28px
	.s-three .my-container.padding-right
		padding-bottom: 70px
	.s-three .st-items .st-itm.active
		padding-right: 310px

	.s-why .sw-nav .sw-nv-itm .sw-nv-descr
		font-size: 27px
		line-height: 53px

	.s-why .sw-nav
		width: 390px
	.s-why .sw-content-wrap
		width: calc(100% - 390px)

	.s-fond .flex-wrap
		padding-top: 19.4vh
	.s-fond .sf-descr
		max-width: 975px
	.s-fond .sf-items .sf-itm .sfi-hdr
		font-size: 29px
		line-height: 42px
	.s-fond .sf-items .sf-itm .sfi-descr
		font-size: 18px
		line-height: 30px
		top: 45px
	.s-fond .sf-items .sf-itm
		margin-bottom: 20px
	.s-fond .sf-items .sf-itm .sfi-img
		left: 58%

	.s-invest .si-items .si-itm
		font-size: 29px
		line-height: 60px
	.s-invest .flex-wrap
		padding-bottom: 9.7vh

	.s-process .sp-link .spl-hdr
		position: relative
		left: -7px
	.s-process .flex-wrap
		padding-bottom: 7vh
	.s-process .sp-link .spl-descr
		font-size: 18px
		line-height: 30px
	.s-process .sp-link .spl-img
		max-width: 483px
		width: 100%
		bottom: 101px
		right: 4%

	.s-team .st-hdr
		margin-bottom: 103px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text
		padding-left: 20px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-name
		font-size: 18px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		font-size: 18px

	.s-partners .sp-top .sp-descr
		max-width: 1140px
	.s-partners .sp-top .sp-descr
		margin-bottom: 45px
	.s-partners .flex-wrap
		padding-bottom: 3vh
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-descr,
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm .spt-t-hdr
		font-size: 18px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-logos .spt-logo
		min-width: 1px
		margin-right: 0px
		width: 25%

	.s-news .sn-top .sn-descr
		max-width: 1160px
		margin-bottom: 37px
		br
			display: none
	.s-news .flex-wrap
		padding-bottom: 12px

	.news-item .ni-text .nit-hdr
		margin-bottom: 33px

	footer .flex-wrap
		padding-top: 23.2vh
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm
		font-size: 27px
		line-height: 53px
	footer .ft-center .ftc-hdr
		margin-bottom: 74px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-mail
		font-size: 27px
		line-height: 53px
		letter-spacing: -0.045em
	footer .ft-center .ftc-flex .ftc-contacts
		min-width: 418px
		max-width: 418px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm
		margin-bottom: 30px
	footer .ft-center .ftc-flex .ftc-content-wrap .ftc-content .ftc-cw-hdr
		font-size: 20px
		line-height: 34px
		margin-bottom: 15px
	footer .ft-center .ftc-flex .ftc-content-wrap
		padding-top: 10px
	footer .ft-btm .ftb-phone
		font-size: 60px
		line-height: 75px
		margin-right: 115px

	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt ul li
		font-size: 16px
		line-height: 25px
		margin-bottom: 20px
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt .cps-hdr
		font-size: 20px
		line-height: 34px
		margin-bottom: 30px
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt .cps-num
		top: 3px
	.custom-popup .cp-content.cp-two .cpt-item .cpt-descr
		line-height: 25px
	.custom-popup .cp-content.cp-two .cpt-item ul li
		font-size: 13px
	.custom-popup .cp-content.cp-text .cpt-descr
		font-size: 21px
		line-height: 30px




@media only screen and (max-width : 1600px)
	.burger-menu .bm-top .bm-close
		right: 47px
	.burger-menu .bm-mid .bmm-col .bmm-link
		font-size: 40px
		line-height: 30px
		margin-bottom: 30px
	.burger-menu .bm-mid .bmm-col .bmm-ul li a
		font-size: 18px
		line-height: 30px
	.burger-menu .bm-mid
		padding-top: 60px
		padding-bottom: 60px

	.title
		font-size: 50px
		line-height: 55px

	.s-solutions .flex-wrap .flex-block
		padding-bottom: 12vh
	header .hd-mnu ul li
		margin-right: 50px
	header .hd-mnu ul li a
		font-size: 18px
		line-height: 18px

	.right-menu .rm-center .rmc-center-wrap .rmc-menu .rmc-itm ul li a
		font-size: 14px
		line-height: 20px
	.right-menu .rm-center .rmc-center-wrap .rmc-menu .rmc-itm ul li
		margin-bottom: 3px
	.right-menu .rm-center .rmc-center-wrap .rmc-menu .rmc-itm .rmc-i-hdr
		font-size: 18px
		line-height: 18px
	.right-menu .rm-center .rmc-center-wrap .rmc-menu .rmc-itm ul
		padding-top: 10px
	.right-menu .rm-center .rmc-center-wrap .rmc-menu .rmc-itm
		margin-bottom: 20px

@media only screen and (max-width : 1550px)
	.s-news .sn-slider .swiper-container
		padding-bottom: 30px

	.s-graphics .sg-chart-wrap
		width: calc(100% - 235px)

	.scroll-down
		right: 250px
	.h3, h3
		font-size: 26px
		line-height: 38px


	.custom-popup .cp-content.cp-team
		padding-top: 130px
		padding-bottom: 30px
	.custom-popup .cp-content.cp-team .cpt-img
		top: -40px
	.custom-popup .cp-content.cp-team .cpt-text ul li
		font-size: 16px
		line-height: 20px
		margin-bottom: 20px
		&::before
			top: 8px
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-mail, 
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-name, 
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-status
		font-size: 24px
		line-height: 32px
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt
		padding-left: 45px
	.custom-popup .cp-content.cp-two .cpt-item .cpt-descr
		line-height: 22px
	.custom-popup .cp-content.cp-two .cpt-item
		padding-left: 30px
		padding-right: 30px
	.custom-popup .cp-content.cp-two .cpt-item .status
		left: 30px

	.right-menu
		min-width: 220px
		max-width: 220px
	.right-menu .rm-top
		padding-left: 22px
		padding-right: 22px
	.right-menu .rm-center
		padding-left: 22px
		padding-right: 22px

	.my-container
		padding-left: 32px
		padding-right: 32px
	.my-container.padding-right
		padding-right: 235px

	.title
		font-size: 50px
		line-height: 55px

	.status
		top: 52px

	.quest .q-hidden
		min-width: 290px
		max-width: 290px
		font-size: 14px
		line-height: 24px
		padding: 15px

	.small-descr
		font-size: 18px
		line-height: 28px

	.h2, h2
		font-size: 24px
		line-height: 34px
	.h1, h1
		font-size: 50px
		line-height: 75px

	header .hd-logo
		margin-right: 59px
	header .hd-mnu ul li
		margin-right: 45px
	header .hd-mnu ul
		margin-right: 120px

	.s-solutions .s-social
		bottom: 43px
	.s-solutions .flex-wrap .flex-block
		padding-bottom: 13.1vh
	.s-solutions .ss-text
		width: 490px
		padding-left: 47px
	.s-solutions .title
		width: calc(100% - 490px)
		padding-right: 15px
	.s-solutions .ss-text::before
		left: -3px
		top: 23px

	.s-group
		background-position: 93% 50%
	.s-group .h2
		margin-bottom: 41px
	.s-group .my-container.padding-right
		padding-bottom: 58px

	.s-three .my-container.padding-right
		padding-top: 20.4vh
		padding-bottom: 58px
	.s-three .h2
		max-width: 905px
	.s-three .st-items .st-itm .sti-hdr::after
		right: -36px
		top: 16px
	.s-three .st-items .st-itm.active
		padding-right: 273px
	.s-three .st-items .st-itm .sti-img
		max-width: 281px
		width: 100%
	.s-three .st-items .st-itm
		margin-right: 83px

	.s-graphics .sg-top
		padding-top: 41px
		margin-bottom: 83px
	.s-graphics .sg-content-wrap .sg-content .sgc-descr
		margin-bottom: 34px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul
		margin-bottom: 24px

	.s-why .sw-nav .sw-nv-itm .sw-nv-descr
		font-size: 24px
		line-height: 50px
	.s-why .sw-content-wrap
		width: calc(100% - 364px)
	.s-why .sw-nav
		width: 364px

	.s-why.sw-reverse .flex-wrap
		padding-bottom: 10.6vh

	.s-fond .flex-wrap
		padding-top: 20.6vh
	.s-fond .sf-descr
		max-width: 876px
	.s-fond .flex-wrap
		padding-bottom: 48px
	.s-fond .sf-items .sf-itm .sfi-hdr
		font-size: 22px
		line-height: 34px
	.s-fond .sf-items .sf-itm .sfi-descr
		top: 38px
	.s-fond .sf-items .sf-itm.active
		padding-bottom: 35px
	.s-fond .sf-items .sf-itm .sfi-img
		left: 63%
		bottom: 0px

	.s-invest .si-items .si-itm
		font-size: 26px
		line-height: 58px
	.s-invest .flex-wrap
		padding-bottom: 38px
	.s-invest .si-items .si-itm .sii-arr
		top: -4px
		right: -6px

	.s-process .flex-wrap
		padding-top: 20.6vh
		padding-bottom: 46px
	.s-process .sp-link .spl-img
		max-width: 415px
		right: 8%
		bottom: 67px

	.s-team .flex-wrap
		padding-top: 14.5vh
	.s-team .st-hdr
		margin-bottom: 74px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-name
		font-size: 16px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		font-size: 16px
		margin-top: -6px
	.s-team .st-slider .swiper-slide .sts-itm
		margin-bottom: 30px

	.s-partners .flex-wrap
		padding-top: 20.6vh
		padding-bottom: 13px
	.s-partners .sp-top .sp-descr
		max-width: 1028px
	.s-partners .sp-top .sp-descr
		margin-bottom: 48px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-descr,
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm .spt-t-hdr
		font-size: 16px
		line-height: 27px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-descr
		width: 55%
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-logos
		width: 45%
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm
		padding-top: 20px
		padding-bottom: 20px
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm
		padding-top: 20px
		padding-bottom: 20px

	.s-news .flex-wrap
		padding-top: 14.2vh
	.s-news .sn-top .sn-descr
		max-width: 1050px
		margin-bottom: 47px

	.news-item .ni-text .nit-date
		font-size: 16px
		line-height: 18px
	.news-item .ni-text .nit-hdr
		font-size: 18px
		line-height: 27px
		margin-bottom: 16px
	.news-item .ni-img .ni-tags .ni-tg
		font-size: 16px
	.news-item .ni-text
		padding-top: 47px
		padding-bottom: 23px

	footer .flex-wrap
		padding-top: 22vh
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm
		font-size: 24px
		line-height: 50px
	footer .ft-center .ftc-hdr
		margin-bottom: 70px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-mail
		font-size: 24px
		line-height: 50px
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm .ftc-nv-img	
		top: -2px
		right: -4px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-descr
		font-size: 16px
		line-height: 18px
	footer .ft-center .ftc-flex .ftc-nav
		min-width: 290px
		max-width: 290px
	footer .ft-center .ftc-flex .ftc-content-wrap .ftc-content .ftc-cw-hdr
		font-size: 18px
		line-height: 30px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-descr
		margin-top: -3px
	footer .ft-center .ftc-flex .ftc-contacts
		min-width: 316px
		max-width: 316px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm
		margin-bottom: 36px
	footer .ft-btm .ftb-phone
		font-size: 50px
		line-height: 75px
		margin-right: 73px
	footer .ft-btm
		padding-bottom: 39px



@media only screen and (max-width : 1300px)
	.burger-menu .bm-mid .bmm-col .bmm-link
		font-size: 30px
		line-height: 30px
	.burger-menu .bm-mid .bmm-col .bmm-ul li a
		font-size: 16px

	.burger-menu .bm-top
		padding-top: 35px
		padding-bottom: 35px

	.s-graphics .sg-chart-wrap
		width: calc(100% - 20px)
		left: 10px


	.scroll-down
		right: 15px
		bottom: 33px

	.h3, h3
		font-size: 22px
		line-height: 30px

	.custom-popup .cp-content.cp-two .cpt-item .status
		font-size: 16px
		line-height: 16px
		top: 30px
	.custom-popup .cp-content.cp-two .cpt-item
		padding-top: 90px
		padding-bottom: 90px
	.custom-popup .cp-content.cp-two .cpt-item .cpt-descr
		font-size: 13px
		margin-bottom: 40px

	header .hd-right
		display: flex
		position: absolute
		right: 50px
		max-width: 133px
		width: 100%
		top: 44px
		justify-content: space-between

	.right-menu
		display: none

	.my-container.padding-right
		padding-right: 50px
	.my-container
		padding-left: 50px
		padding-right: 50px

	header .hd-mnu ul li a
		font-size: 18px
		line-height: 18px
	header .hd-mnu ul li
		margin-right: 40px
	header
		padding-top: 35px
		padding-bottom: 35px
	header .hd-logo
		margin-right: 61px
	header .hd-mnu ul
		margin-right: 49px

	.s-solutions .s-social
		bottom: 33px
	.s-solutions .flex-wrap .flex-block
		padding-bottom: 18.2vh
	.s-solutions .title
		width: calc(100% - 424px)
	.s-solutions .ss-text
		width: 424px

	.s-group
		background-position: 45% 50%
	.s-group .my-container.padding-right
		padding-bottom: 54px
	.s-group .h2
		margin-bottom: 37px

	.s-three .my-container.padding-right
		padding-bottom: 51px
	.s-three .st-items .st-itm .sti-img
		max-width: 258px
		right: -30px

	.s-graphics .sg-top
		margin-bottom: 61px
	.s-graphics .sg-content-wrap .sg-content .sgc-descr
		margin-bottom: 38px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-gr
		font-size: 20px
		line-height: 20px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-bl
		font-size: 20px
		line-height: 20px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li
		margin-bottom: 23px
		&:last-child
			margin-bottom: 0px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul
		margin-bottom: 31px

	.s-why .sw-content-wrap
		width: calc(100% - 370px)
	.s-why .sw-nav
		width: 370px

	.s-fond .flex-wrap
		padding-top: 20.1vh

	.s-invest .si-items .si-itm
		font-size: 26px
		line-height: 55px

	.s-process .flex-wrap
		padding-top: 20.1vh

	.s-team .flex-wrap
		padding-top: 15.9vh
	.s-team .st-hdr
		margin-bottom: 52px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text
		padding-left: 23px
		top: 8px
	.s-team .st-slider .swiper-slide .sts-itm
		margin-bottom: 11px

	.s-partners .flex-wrap
		padding-top: 20.1vh
	.s-partners .sp-top .sp-descr
		margin-bottom: 24px
	.s-partners .flex-wrap
		padding-bottom: 4px

	.s-news .flex-wrap
		padding-top: 15.1vh
	.s-news .sn-top .sn-descr
		margin-bottom: 25px

	.news-item .ni-text
		padding-bottom: 16px
		padding-top: 25px
	.news-item .ni-text .nit-hdr
		margin-bottom: 19px

	footer .flex-wrap
		padding-top: 21vh
	footer .ft-btm
		padding-bottom: 27px
	footer .ft-center .ftc-flex .ftc-content-wrap
		min-width: 330px
		max-width: 330px

/* Medium Devices, Desktops */
@media only screen and (max-width : 1250px)
	header .hd-logo
		margin-right: 25px
	header .hd-mnu ul li
		margin-right: 15px


@media only screen and (max-width : 1100px)
	.burger-menu .bm-top::before
		width: 100%
		left: 0
		transform: none

	header .hd-right
		right: 30px
		max-width: 120px

	.my-container
		padding-left: 30px
		padding-right: 30px
	.my-container.padding-right
		padding-left: 30px
		padding-right: 30px

	.title
		font-size: 48px
		line-height: 45px

	.status
		font-size: 14px
		line-height: 14px
		top: 40px

	.btn
		font-size: 14px
		line-height: 14px
		padding-left: 13px
		padding-right: 13px
	.btn.btn-video
		padding-right: 24px
		&::after
			right: 11px

	.small-descr
		font-size: 16px
		line-height: 28px

	.quest
		font-size: 14px
		line-height: 20px
		width: 20px
		height: 20px

	.h2, h2
		font-size: 24px
		line-height: 33px
	.h1, h1
		font-size: 42px
		line-height: 75px

	header .hd-mnu ul li a
		font-size: 14px
		line-height: 14px
	header .hd-mnu ul li
		margin-right: 28px
	header .hd-logo
		margin-right: 51px
	header
		padding-top: 37px
		padding-bottom: 37px
	header .hd-lang .hdl-descr
		font-size: 14px
		line-height: 14px
	header .hd-mnu ul
		margin-right: 27px

	.s-solutions .ss-text
		width: 323px
		padding-left: 44px
	.s-solutions .title
		width: calc(100% - 323px)
	.s-solutions .ss-text .sst-descr
		font-size: 14px
		line-height: 22px
		margin-bottom: 21px
		letter-spacing: -0.015em
		br
			display: none
	.s-solutions .flex-wrap .flex-block
		padding-bottom: 16vh
	.s-solutions .ss-text::before
		top: 19px
		left: -4px

	.s-group
		background-position: 20% 50%
	.s-group .sg-btn-wrap .sg-name
		font-size: 14px
		line-height: 24px
	.s-group .my-container.padding-right
		padding-bottom: 41px
	.s-group .h2
		margin-bottom: 51px
	.s-group .sg-btn-wrap .sg-name
		margin-right: 52px

	.s-three .my-container.padding-right
		padding-top: 19.9vh
	.s-three .h2
		max-width: 830px
	.s-three .st-items .st-itm .sti-hdr
		font-size: 42px
		line-height: 75px
		margin-bottom: -5px
	.s-three .st-items .st-itm .sti-descr
		font-size: 14px
		line-height: 20px
	.s-three .my-container.padding-right
		padding-bottom: 40px
	.s-three .st-items .st-itm .sti-hdr::after
		right: -29px
		top: 21px
	.s-three .st-items .st-itm .sti-img
		max-width: 225px
	.s-three .st-items .st-itm
		margin-right: 59px
	.s-three .st-items .st-itm.active
		padding-right: 257px

	.s-graphics .sg-top
		padding-top: 29px
	.s-graphics .sg-top .status
		margin-right: 77px
	.s-graphics .sg-top .sg-nav .sg-nv-itm
		font-size: 14px
		line-height: 14px
		margin-right: 26px
	.s-graphics .sg-top
		margin-bottom: 56px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-gr,
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-bl
		font-size: 14px
		line-height: 14px
	.s-graphics .sg-content-wrap .sg-content .sgc-descr
		margin-bottom: 42px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-bl
		padding-left: 23px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-bl .quest
		left: 4px
		top: -13px

	.s-why .sw-nav .sw-nv-itm .sw-nv-descr
		font-size: 20px
		line-height: 40px
	.s-why .sw-nav
		width: 290px
	.s-why .sw-content-wrap
		width: calc(100% - 290px)
		padding-right: 75px

	.s-why.sw-reverse .sw-content-wrap
		padding-left: 79px

	.s-fond .sf-descr
		max-width: 8080px
	.s-fond .flex-wrap
		padding-bottom: 33px
		padding-bottom: 37px
	.s-fond .sf-items .sf-itm .sfi-descr
		font-size: 14px
		line-height: 30px
		top: 35px
	.s-fond .sf-items .sf-itm .sfi-hdr
		font-size: 24px
		line-height: 33px
	.s-fond .sf-items .sf-itm
		margin-bottom: 20px
	.s-fond .sf-items .sf-itm .sfi-img
		bottom: -91px
		max-width: 281px
		left: 65%
	.s-fond .sf-items .sf-itm:nth-child(3) .sfi-img
		bottom: 0px

	.s-invest .si-items .si-itm
		font-size: 20px
		line-height: 43px
	.s-invest .flex-wrap
		padding-bottom: 32px
	.s-invest .si-items .si-itm .sii-arr
		top: -2px
		right: -9px

	.s-process .sp-link .spl-img
		max-width: 305px
		right: 2%
		bottom: 59px
	.s-process .flex-wrap
		padding-bottom: 33px
	.s-process .sp-link .spl-hdr
		left: -4px
		top: 7px

	.s-team .flex-wrap
		padding-top: 14.8vh
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-name,
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		font-size: 14px
		line-height: 23px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		min-height: 46px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-name
		margin-bottom: 4px
	.s-team .st-slider .swiper-slide .sts-itm .sts-photo
		min-width: 50px
		max-width: 50px
		height: 50px
	.s-team .st-hdr
		margin-bottom: 42px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text
		padding-left: 18px
		top: -4px
	.s-team .st-slider .swiper-slide .sts-itm
		margin-bottom: 19px

	.s-partners .sp-top .spt-items .sp-itm
		font-size: 14px
		line-height: 14px
	.s-partners .sp-top .sp-descr
		margin-bottom: 36px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-descr, 
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm .spt-t-hdr
		font-size: 14px
		line-height: 20px
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm .spt-t-descr
		font-size: 14px
		line-height: 26px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm
		padding-top: 8.5px
		padding-bottom: 8.5px

	.s-news .flex-wrap
		padding-top: 14.3vh
	.s-news .sn-top .sn-descr
		margin-bottom: 18px

	.news-item .ni-img
		height: 166px
	.news-item .ni-img .ni-tags .ni-tg
		font-size: 12px
		line-height: 12px
		padding-left: 13px
		padding-right: 13px
		margin-right: 9px
	.news-item .ni-text .nit-hdr
		font-size: 14px
		line-height: 20px
	.news-item .ni-text .nit-date
		font-size: 12px
		line-height: 18px
	.news-item .ni-text
		padding-bottom: 11px
		padding-top: 19px
	.news-item .ni-text .nit-hdr
		margin-bottom: 14px

	footer .flex-wrap
		padding-top: 22.6vh
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm
		font-size: 20px
		line-height: 40px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-mail
		font-size: 20px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-descr
		font-size: 14px
	footer .ft-center .ftc-flex .ftc-content-wrap .ftc-content .ftc-cw-hdr
		font-size: 16px
		line-height: 26px
	footer .ft-center .ftc-flex .ftc-content-wrap .ftc-content .ftc-cw-descr
		font-size: 12px
		line-height: 18px
	footer .ft-center .ftc-hdr
		margin-bottom: 36px
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm .ftc-nv-img
		right: -10px
	footer .ft-center .ftc-flex .ftc-content-wrap
		padding-top: 8px
	footer .ft-center .ftc-flex .ftc-contacts
		min-width: 261px
		max-width: 261px
	footer .ft-center .ftc-flex .ftc-content-wrap
		min-width: 300px
		max-width: 300px
	footer .ft-center .ftc-flex .ftc-nav
		min-width: 240px
		max-width: 240px
	footer .ft-btm .ftb-phone
		font-size: 42px
		line-height: 75px
		margin-right: 58px
	footer .ft-btm
		padding-bottom: 25px
	footer .ft-center
		padding-right: 0px


@media only screen and (max-width : 992px)
	.burger-menu .bm-mid .bmm-col .bmm-link
		font-size: 24px
		line-height: 30px
		margin-bottom: 20px
	.burger-menu .bm-mid
		padding-top: 45px
		padding-bottom: 45px
	.burger-menu .bm-mid .bmm-col .bmm-ul li a
		font-size: 14px
		line-height: 26px

	.custom-popup .cp-content.cp-team
		padding-top: 90px
		padding-bottom: 45px
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-mail, 
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-name, 
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-status
		font-size: 18px
		line-height: 24px
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-img
		width: 100px
		height: 100px
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt
		width: calc(100% - 100px)
		padding-left: 15px
		padding-top: 12px
	.custom-popup .cp-content.cp-team .cpt-top
		margin-bottom: 30px
	.custom-popup .cp-content.cp-team .cpt-img
		display: none
	.custom-popup .cp-content.cp-text .cpt-descr
		font-size: 16px
		line-height: 24px
	.custom-popup .cp-content.cp-text
		padding-top: 90px
		padding-bottom: 45px
	.custom-popup .cp-top
		padding-top: 25px

	.custom-popup .cp-content.cp-two .cpt-item
		width: 100%
		height: auto
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt
		padding-left: 50px
		padding-right: 50px

	header .hd-mnu
		display: none
	header .hd-right
		max-width: 28px
	header .hd-right .hd-ltr
		display: none
	header .hd-right .hd-order
		display: none
	header .hd-right
		position: relative
		left: 0
		top: 0
	header .my-container.flex
		width: 100%
		justify-content: space-between
		position: relative
	header .hd-lang
		position: absolute
		right: 90px
		top: 14px


	.s-team .st-slider .swiper-slide .sts-itm.mobile-hidden
		display: none
	.s-team .st-slider .swiper-slide.mobile-visible
		display: block

	.title
		font-size: 34px
		line-height: 42px

	.h2, h2
		font-size: 18px
		line-height: 24px
	.h1, h1
		font-size: 34px
		line-height: 42px

	.small-descr
		font-size: 14px
		line-height: 26px

	.s-group .h2
		margin-bottom: 28px

	.s-graphics .sg-top
		margin-bottom: 26px

	.s-why .sw-nav .sw-nv-itm .sw-nv-descr
		font-size: 18px
		line-height: 30px

	

	.s-fond .sf-items .sf-itm .sfi-hdr
		font-size: 20px
		line-height: 26px
	.s-fond .sf-items .sf-itm .sfi-descr
		top: 20px

	.s-invest .si-items .si-itm
		font-size: 16px
		line-height: 30px

	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-name,
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		font-size: 12px
		line-height: 20px

	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm
		font-size: 16px
		line-height: 30px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-mail
		font-size: 16px
		line-height: 30px
	footer .ft-center .ftc-flex .ftc-contacts
		min-width: 212px
		max-width: 212px
	footer .ft-btm .ftb-phone
		font-size: 30px
		line-height: 50px
		margin-right: 30px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.burger-menu .bm-top .bm-close
		right: 10px
	.burger-menu .bm-top
		padding-top: 25px
		padding-bottom: 25px

	.s-graphics .sg-chart-descr
		font-size: 14px
		line-height: 14px

	.scroll-down
		display: none
	.s-news .sn-slider .sns-more-btn .more-btn
		font-size: 16px
		line-height: 16px
	.s-news .sn-slider .sns-more-btn
		padding-top: 0px


	.mobile-menu
		display: none

	.s-team .st-slider .swiper-pagination
		display: flex
	.s-team .st-slider .swiper-container
		padding-bottom: 25px

	.h3, h3
		font-size: 14px
		line-height: 20px

	// .s-why .sw-mobile-slider
	// 	display: block
	.s-why .sw-content-wrap
		display: none

	.custom-popup .cp-content.cp-team .cpt-text ul li
		font-size: 12px
		line-height: 20px
		margin-bottom: 10px
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-mail, 
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-name, 
	.custom-popup .cp-content.cp-team .cpt-top .cpt-t-txt .cpt-tt-status
		font-size: 12px
		line-height: 20px
	.custom-popup .cp-content.cp-text .cpt-descr
		font-size: 12px
		line-height: 20px
	.custom-popup .cp-content.cp-text .cpt-hdr
		margin-bottom: 20px
	.custom-popup .cp-content.cp-two .cpt-item .cpt-hdr
		margin-bottom: 30px
	.custom-popup .cp-content.cp-two .cpt-item .cpt-descr
		font-size: 12px
		line-height: 18px
		margin-bottom: 30px
	.custom-popup .cp-content.cp-two .cpt-item ul li .cpt-num
		width: 54px
		height: 30px
		font-size: 10px
		line-height: 30px
	.custom-popup .cp-content.cp-two .cpt-item ul li
		padding-left: 66px
		font-size: 10px
		line-height: 15px
	.custom-popup .cp-content.cp-two .cpt-item
		padding-left: 10px
		padding-right: 10px
		padding-top: 45px
		padding-bottom: 45px
		&:nth-child(1)
			padding-top: 70px
	.custom-popup .cp-content.cp-two .cpt-item .status
		left: 10px
		font-size: 14px
		line-height: 14px
		top: 20px
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt
		padding-left: 10px
		padding-right: 10px
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt .cps-hdr
		padding-left: 45px
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt ul li
		font-size: 12px
		line-height: 15px
		margin-bottom: 24px
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt .cps-hdr
		font-size: 16px
	.custom-popup .cp-content.cp-scheme .cps-text-items .cps-txt
		margin-bottom: 40px

	header
		padding-top: 25px
		padding-bottom: 25px

	.my-container
		padding-left: 10px
		padding-right: 10px
		&.padding-right
			padding-right: 10px
			padding-left: 10px

	.title
		font-size: 30px
		line-height: 32px
		letter-spacing: -0.07em

	.status
		font-size: 10px
		line-height: 10px
		top: 23px

	.small-descr
		font-size: 13px
		line-height: 21px
		letter-spacing: -0.015em

	.h2, h2
		font-size: 14px
		line-height: 23px
	.h1, h1
		font-size: 30px
		line-height: 32px
		letter-spacing: -0.07em

	.quest:hover
		.q-hidden
			opacity: 0
			visibility: hidden
	.quest
		font-size: 12px
	.quest.active
		.q-hidden
			opacity: 1
			visibility: visible
	.quest .q-hidden
		min-width: 240px
		max-width: 240px
		font-size: 11px
		line-height: 14px
		padding-left: 13px
		padding-right: 13px
		padding-top: 9px
		padding-bottom: 12px
		left: 24px

	.btn
		font-size: 12px
		line-height: 12px
		padding-left: 10px
		padding-right: 10px
		padding-top: 10px
		padding-bottom: 10px

	header .hd-mnu
		display: none

	.s-solutions .title
		margin-bottom: 30px
	.s-social .ss-icn
		margin-right: 33px
	.s-solutions .title
		width: 100%
		padding-right: 0px
	.s-solutions .flex-wrap .flex-block
		flex-wrap: wrap
	.s-solutions .ss-text
		width: 100%
		padding-left: 0px
		padding-top: 0px
	.s-solutions .ss-text::before
		display: none
	.s-solutions .ss-text .sst-descr
		line-height: 21px
		margin-bottom: 19px
	.s-solutions .flex-wrap .flex-block
		padding-bottom: 20.3vh
	.s-solutions .s-social
		bottom: 59px

	.s-group .sg-btn-wrap .sg-name
		font-size: 12px
		line-height: 24px
		top: 0
	.s-group
		background-position: 50%

	.s-three .st-items .st-itm .sti-img
		display: none
	.s-three .st-items .st-itm.active
		padding-right: 0px
		margin-right: 0px
	.s-three .st-items .st-itm
		margin-right: 0px
		width: 100%
		margin-bottom: 9px
		&:last-child
			margin-bottom: 0px
	.s-three .st-items
		flex-wrap: wrap
	.s-three .st-items .st-itm .sti-descr
		display: none
	.s-three .st-items .st-itm .sti-hdr
		font-size: 40px
		line-height: 48px
	.s-three .my-container.padding-right
		padding-top: 12vh
		padding-bottom: 12vh
	.s-three .st-items .st-itm .sti-hdr::after
		opacity: 1
		width: 6px
		height: 7px
		background: url(../img/thr-arr.svg)
		right: -16px
		top: 11px
	.s-three .h2
		margin-bottom: 0px
	.s-three .st-items .st-itm.active .sti-hdr
		color: $blue

	.s-graphics .sg-chart-wrap
		height: 30vh
	.s-graphics .sg-top
		padding-top: 21px
		flex-wrap: wrap
	.s-graphics .sg-top .status
		margin-right: 0px
		width: 100%
		margin-bottom: 18px
	.s-graphics .sg-top .sg-nav .sg-nv-itm
		font-size: 12px
		line-height: 12px
		padding-left: 8px
		padding-right: 8px
		padding-top: 9px
		padding-bottom: 9px
		margin-right: 11px
	.s-graphics .sg-top
		margin-bottom: 27px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul
		margin-left: 0px
		margin-bottom: 18px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li
		flex-wrap: wrap
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-bl, 
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-gr
		font-size: 11px
		line-height: 14px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-bl
		width: 100%
		padding-left: 0px
		margin-top: -2px
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-gr
		width: 100%
	.s-graphics .sg-content-wrap .sg-content .sgc-ul li .sgc-ul-bl .quest
		display: inline-block
		position: relative
		top: 3px
		left: 0
	.s-graphics .sg-content-wrap .sg-content .sgc-descr
		margin-bottom: 17px
	.s-graphics .sg-content-wrap .sg-content .btn
		margin-left: 0px


	.s-why .sw-nav
		width: 100%
	.s-why .sw-nav .sw-nv-itm .sw-nv-descr
		font-size: 14px
		line-height: 32px
		color: $blue
	.s-why .sw-nav .sw-nv-itm .sw-nv-descr .sii-arr
		display: inline-block
	.s-why .sw-content-wrap
		width: 100%
		padding-right: 0px
	.s-why .flex-wrap .flex-block
		flex-wrap: wrap
	.s-why .flex-wrap
		align-items: center
		padding-top: 48px
		padding-bottom: 48px
	.s-why.sw-reverse .sw-content-wrap
		padding-left: 0px

	.s-fond .flex-wrap
		padding-top: 11.8vh
		padding-bottom: 7.4vh
	.s-fond .sf-items .sf-itm .sfi-hdr
		font-size: 14px
		line-height: 28px
	.s-fond .sf-items .sf-itm
		margin-bottom: 0px
		padding-bottom: 0px
		position: static
	.s-fond .sf-items .sf-itm.active
		padding-bottom: 0px
	.s-fond .sf-items .sf-itm .sfi-descr
		font-size: 12px
		line-height: 20px
		left: 0
		top: -8px
		display: inline-block
		padding-right: 16px
		position: relative
	.s-fond .sf-items .sf-itm .sfi-descr::after
		top: 5px
		transform: scale(0.8)
	.s-fond .sf-items .sf-itm .sfi-img
		max-width: 150px
		right: 0px
		left: auto
		top: -105%
	.s-fond .sf-items
		position: relative

	.s-invest .si-items .si-itm
		font-size: 14px
		line-height: 37px
	.s-invest .flex-wrap
		padding-bottom: 10.9vh
		padding-top: 10.9vh

	.s-process .flex-wrap
		padding-top: 11.6vh
		padding-bottom: 11.3vh
	.s-process .sp-link .spl-hdr
		left: 0
		top: 0
		text-transform: inherit
		font-weight: 400
		letter-spacing: -0.07em
	.s-process .sp-link .spl-descr
		font-size: 12px
		line-height: 28px
		left: 0
	.s-process .sp-link .spl-img
		max-width: 215px
		right: auto
		left: 50%
		transform: translateX(-50%)
		bottom: auto
		bottom: 79px

	.s-team .flex-wrap
		padding-top: 11.4vh
		padding-bottom: 11.4vh
	.s-team .st-hdr
		margin-bottom: 35px
	.s-team .st-slider .swiper-slide .sts-itm .sts-text
		top: 0
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		min-height: 1px
		line-height: 16px
		br
			display: none
	.s-team .st-slider .swiper-slide
		width: 50%

	.s-partners .flex-wrap
		padding-top: 11.4vh
		padding-bottom: 10.4vh
	.s-partners .sp-top .sp-descr
		margin-bottom: 28px
	.s-partners .sp-top .spt-items .sp-itm
		font-size: 12px
		line-height: 12px
		padding-left: 11px
		padding-right: 11px
		padding-top: 7px
		padding-bottom: 7px
		margin-right: 3px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm
		flex-wrap: wrap
		border: 0px solid #000
		flex-wrap: wrap
		padding-top: 0px
		padding-bottom: 0px
		margin-bottom: 6px
		transition: all .5s ease
		&:last-child
			margin-bottom: 0px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-descr
		width: 100%
		padding-right: 0px
		margin-bottom: 10px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-logos
		width: 100%
		align-items: center
		height: 0px
		opacity: 0
		transition: all .5s ease
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm.active .spt-logos
		height: auto
		opacity: 1
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm.active
		margin-bottom: 46px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-logos .spt-logo
		width: auto
		margin-right: 12px
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm .spt-descr img
		display: inline-block
		position: relative
		left: 5px
		top: -2px
		transition: all .5s ease
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm.active .spt-descr img
		transform: rotate(-90deg)
	.s-partners .spt-content-wrap .spt-content .spt-lg-items .spt-lg-itm:last-child
		&.active
			margin-bottom: 0px
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm
		padding-top: 0px
		padding-bottom: 0px
		flex-wrap: wrap
		border: 0px solid #000
		margin-bottom: 6px
		&:last-child
			margin-bottom: 0px
			&.active
				margin-bottom: 0px
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm .spt-t-hdr
		width: 100%
		padding-right: 0px
		min-width: 1px
		max-width: 100%
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm .spt-t-descr
		width: 100%
		display: none
		font-size: 12px
		line-height: 20px
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm.active
		margin-bottom: 46px
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm .spt-t-hdr img
		display: inline-block
		position: relative
		left: 5px
		top: -2px
		transition: all .5s ease
	.s-partners .spt-content-wrap .spt-content .spt-txt-items .spt-txt-itm.active .spt-t-hdr img
		transform: rotate(-90deg)

	.s-news .flex-wrap
		padding-top: 9.7vh
		padding-bottom: 11.8vh
	.s-news .sn-top .sn-descr
		margin-bottom: 17px
	.s-news .sn-top .snt-btn-wrap
		width: 100%
		justify-content: space-between
		max-width: 300px
	.s-news .sn-top .snt-btn-wrap .btn
		margin-right: 0px
		&.mobile-hidden
			display: none
		&.mobile-visible
			display: block

	.news-item .ni-img
		height: 78px
	.news-item .ni-img .ni-tags
		display: none
	.news-item .ni-text .nit-hdr
		font-size: 12px
		line-height: 18px
	.news-item .ni-text
		padding-bottom: 20px
		padding-top: 14px
	.news-item .ni-text .nit-hdr
		margin-bottom: 2px

	footer .ft-center .ftc-hdr
		font-size: 20px
		line-height: 30px
		letter-spacing: -0.045em
		margin-bottom: 15px
	footer .flex-wrap
		padding-top: 10.9vh
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm
		font-size: 14px
		line-height: 27px
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm .ftc-nv-img img
		max-width: 6px
		width: 100%
		display: block
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm .ftc-nv-img
		right: -5px
	footer .ft-center .ftc-flex .ftc-nav
		min-width: 1px
		max-width: 100%
		width: 100%
		margin-bottom: 23px
	footer .ft-center .ftc-flex
		flex-wrap: wrap
	footer .ft-center .ftc-flex .ftc-content-wrap
		display: none
	footer .ft-center .ftc-flex .ftc-contacts
		min-width: 1px
		max-width: 100%
		width: 100%
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-mail
		font-size: 14px
		line-height: 30px
		margin-bottom: 3px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-descr
		margin-top: -1px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm
		margin-bottom: 17px
	footer .ft-btm .ftb-phone
		font-size: 25px
		line-height: 32px
		margin-right: 0px
		width: 100%
		margin-bottom: 10px
	footer .ft-btm
		flex-wrap: wrap
		padding-bottom: 48px
		.btn
			padding-bottom: 6px
			padding-top: 7px
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm .ftc-nv-content
		margin-bottom: 20px
		.ftc-cw-hdr
			display: block
			color: $blue
			font-size: 14px
			line-height: 20px
			font-weight: 500
			margin-bottom: 0px
			a
				color: $blue
		.ftc-cw-descr
			display: block
			color: $blue
			font-size: 12px
			line-height: 18px
			font-weight: 400
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm.active .ftc-nv-content
		display: block
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm .ftc-nv-content
		margin-bottom: 10px
	footer .ft-btm .ftb-phone
		width: auto
		margin-bottom: 0px
		font-size: 20px
		line-height: 28px
	footer .ft-btm
		width: 100%
		left: 0
		padding-left: 10px
		padding-right: 10px
		align-items: center
		justify-content: space-between
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-descr
		margin-top: -5px
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm
		font-size: 14px
		line-height: 27px
	footer .ft-center .ftc-flex .ftc-contacts .ftc-c-itm .ftc-ci-descr
		line-height: 22px

	



@media only screen and (max-width : 600px)
	.burger-menu
		height: 100vh
	.burger-menu .bm-mid
		height: calc(100% - 93px)
		overflow-y: auto
	.burger-menu .bm-mid .bmm-col
		width: 100%
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0px
	.burger-menu .bm-mid .bmm-col .bmm-c-top
		margin-bottom: 20px
	.burger-menu .bm-mid
		padding-top: 20px
		padding-bottom: 20px

@media only screen and (max-width : 480px)
	.burger-menu .bm-mid
		height: calc(100% - 63.5px)

	.burger-menu .bm-top
		padding-top: 22px
		padding-bottom: 22px
	.burger-menu .bm-top .bmt-logo
		max-width: 80px
	.burger-menu .bm-mid .bmm-col .bmm-link
		font-size: 21px
		line-height: 28px
		margin-bottom: 15px

	header .hd-logo
		max-width: 80px
	header .hd-lang .hdl-descr
		font-size: 12px
		line-height: 12px
		margin-right: 17px
		&:last-child
			margin-right: 0px
	header .hd-lang
		top: 5px
		right: 69px
	header
		padding-top: 22px
		padding-bottom: 22px

	.s-process .sp-descr
		max-width: 100%
		br
			display: none
	.s-team .st-hdr
		max-width: 100%
		br
			display: none
	.s-graphics .sg-content-wrap .sg-content .sgc-descr
		max-width: 100%
		br
			display: none


	.close-custom-popup
		right: 15px

	.s-group
		background-position: 0% 50%
		position: relative
		&::before
			content: ''
			position: absolute
			width: 320px
			height: 356px
			right: 0
			bottom: 0
			background-image: url(../img/sg_mobile.jpg)

	.s-group .h2 br
		display: none
	.s-group .flex-wrap
		align-items: flex-start
	.s-group .my-container.padding-right
		padding-top: 11.7vh
		position: relative
	.s-group .sg-btn-wrap
		flex-wrap: wrap
	.s-group .h2
		margin-bottom: 20px
	.s-group .sg-btn-wrap .sg-name
		width: 100%
		margin-right: 0px
	.s-group .sg-btn-wrap .btn.btn-video
		position: absolute
		bottom: 12.5vh
		top: auto


	.s-team .st-slider .swiper-slide
		width: 100%
	
@media only screen and (max-width : 390px) and (min-height: 740px)
	.s-team .st-hdr
		margin-bottom: 11vh
	.s-team .st-slider .swiper-slide .sts-itm
		margin-bottom: 30px
	.s-team .st-slider .swiper-slide.mobile-visible
		display: none
	.s-team .st-slider .swiper-slide .sts-itm.mobile-hidden
		display: flex
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-name, 
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		font-size: 15px
		line-height: 24px

@media only screen and (width : 428px) and (height: 962px)
	.s-team .st-hdr
		margin-bottom: 11vh
	.s-team .st-slider .swiper-slide .sts-itm
		margin-bottom: 30px
	.s-team .st-slider .swiper-slide.mobile-visible
		display: none
	.s-team .st-slider .swiper-slide .sts-itm.mobile-hidden
		display: flex
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-name, 
	.s-team .st-slider .swiper-slide .sts-itm .sts-text .sts-status
		font-size: 15px
		line-height: 24px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	footer .ft-center .ftc-flex .ftc-nav .ftc-nv-itm
		font-size: 12px
		line-height: 22px

