@font-face
	font-family: 'Montserrat'
	font-display: swap
	font-weight: 400
	font-style: normal
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff')

@font-face
	font-family: 'Montserrat'
	font-display: swap
	font-weight: 500
	font-style: normal
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff')

@font-face
	font-family: 'Montserrat'
	font-display: swap
	font-weight: 700
	font-style: normal
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff')
