@import "fonts"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

*
	box-sizing: border-box

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $df
	font-weight: 400
	overflow-x: hidden
	opacity: 1
	margin: 0

ul
	margin: 0
	padding: 0
	list-style-type: none

a
	transition: all .5s ease
	text-decoration: none

.my-container
	box-sizing: border-box
	margin: 0 auto
	padding: 0 52px
	&.padding-right
		padding-right: 281px
	&.flex
		display: flex

h1,h2,h3,h4,h5,h6
	font-weight: normal

.h1,
h1
	display: block
	margin: 0
	font-size: 63px
	line-height: 75px
	font-weight: 500
	letter-spacing: -0.02em
	color: $blue

.h2,
h2
	display: block
	margin: 0
	font-size: 32px
	line-height: 44px
	font-weight: 500
	letter-spacing: -0.045em
	color: $blue

.h3,
h3
	display: block
	margin: 0
	font-size: 26px
	line-height: 48px
	font-weight: 500
	letter-spacing: -0.045em
	color: $blue

.gold
	color: $gold

.title
	display: block
	color: $blue
	font-size: 80px
	line-height: 72px
	letter-spacing: -0.04em
	font-family: $df
	-webkit-font-smoothing: antialiased

.swiper-pagination
	display: flex
	&.swiper-pagination-clickable
		bottom: 0
		.swiper-pagination-bullet
			background: $gold
			width: 4px
			height: 4px
			margin-right: 8px
			margin-left: 0px
			opacity: 1
			&:last-child
				margin-right: 0px
			&.swiper-pagination-bullet-active
				background: rgba(147, 153, 164, 0.5)

.s-social
	display: flex
	flex-wrap: wrap
	align-items: center
	.ss-icn
		position: relative
		margin-right: 65px
		&:last-child
			margin-right: 0px
		&::before,
		&::after
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			transition: all .5s ease
		&::after
			opacity: 0
		&:hover
			&::before
				opacity: 0
			&::after
				opacity: 1
		&.tl
			width: 17px
			height: 15px
			&::before
				background: url(../img/tl-icn.svg)
			&::after
				background: url(../img/tl-icn_g.svg)
		&.ln
			width: 16px
			height: 16px
			&::before
				background: url(../img/ln-icn.svg)
			&::after
				background: url(../img/ln-icn_g.svg)
		&.yt
			width: 20px
			height: 15px
			&::before
				background: url(../img/yt-icn.svg)
			&::after
				background: url(../img/yt-icn_g.svg)

.btn
	display: inline-block
	font-size: 20px
	line-height: 20px
	background: $gold
	color: #fff
	border-radius: 20px
	padding-left: 16px
	padding-right: 16px
	padding-top: 10px
	padding-bottom: 11px
	position: relative
	&:hover
		background: rgba($gold, .8)
	&.btn-video
		padding-right: 27px
		&::after
			content: ''
			position: absolute
			width: 5px
			height: 9px
			background: url(../img/play-icn.svg)
			top: 50%
			right: 14px
			transform: translateY(-50%)

.status
	position: absolute
	color: #9399A4
	font-size: 20px
	line-height: 20px
	letter-spacing: -0.015em
	top: 67px
	z-index: 2

.quest
	width: 25px
	height: 25px
	background: #E6EBF2
	border-radius: 50%
	display: inline-block
	font-size: 18px
	line-height: 25px
	color: $blue
	text-align: center
	cursor: pointer
	position: relative
	z-index: 2
	&:hover
		.q-hidden
			opacity: 1
			visibility: visible
	.q-hidden
		background: #E6EBF2
		border-radius: 17px
		padding-left: 26px
		padding-right: 26px
		padding-top: 17px
		padding-bottom: 21px
		min-width: 458px
		text-align: left
		position: absolute
		left: 56px
		top: 50%
		transform: translateY(-50%)
		opacity: 0
		visibility: hidden
		transition: all .5s ease

.small-descr
	display: block
	color: $blue
	font-size: 26px
	line-height: 44px
	letter-spacing: -0.015em

.mobile-menu
	position: fixed
	left: 0
	bottom: 0
	width: 100%
	z-index: 15
	padding-bottom: 17px
	padding-left: 2px
	padding-right: 2px
	display: none
	.swiper-slide
		width: auto
		.mm-itm
			color: #9399A4
			font-size: 12px
			line-height: 14px
			font-weight: 400
			letter-spacing: -0.02em
			border: 1px solid transparent
			padding-top: 1.5px
			padding-bottom: 2.5px
			padding-left: 6.5px
			padding-right: 6.5px
			border-radius: 20px
			display: block
			&.active
				color: $blue
				border-color: $blue

@keyframes arr-hover
	0%
		transform: translate(-5px, 5px)
		opacity: 0
	100%
		transform: translate(0px, 0px)
		opacity: 1
	
@keyframes scroll-down
	0%
		transform: translateY(0px)
	50%
		transform: translateY(10px)
	100%
		transform: translateY(0px)

// SECTION
header
	padding-top: 37px
	padding-bottom: 37px
	&.abs
		position: absolute
		left: 0
		top: 0
		width: 100%
		z-index: 12
	.my-container.flex
		align-items: center
	.hd-logo
		margin-right: 131px
		img
			display: block
			max-width: 100%
	.hd-mnu
		position: relative
		top: -4px
		ul
			display: flex
			margin-right: 64px
			li
				margin-right: 64px
				&:last-child
					margin-right: 0px
				a
					display: block
					color: $blue
					font-size: 20px
					line-height: 20px
					letter-spacing: -0.015em
					&:hover
						color: $gold
	.hd-lang
		display: flex
		position: relative
		top: -4px
		.hdl-descr
			color: #9399A4
			font-size: 20px
			line-height: 20px
			letter-spacing: -0.015em
			margin-right: 17px
			&:last-child
				margin-right: 0px
			&:hover,
			&.active
				color: $blue
	.hd-right
		align-items: center
		display: none
		.hd-ltr
			width: 25px
			height: 18px
			position: relative
			cursor: pointer
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transition: all .5s ease
				background: url(../img/ltr-icn.svg)
			&::after
				background: url(../img/ltr-icn_h.svg)
				opacity: 0
			&:hover
				&::before
					opacity: 0
				&::after
					opacity: 1
		.hd-burger
			width: 28px
			height: 15px
			position: relative
			cursor: pointer
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transition: all .5s ease
				background: url(../img/burger-icn.svg)
			&::after
				background: url(../img/burger-icn_h.svg)
				opacity: 0
			&:hover
				&::before
					opacity: 0
				&::after
					opacity: 1
		.hd-order
			width: 23px
			height: 16px
			position: relative
			cursor: pointer
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transition: all .5s ease
				background: url(../img/pen-icn.svg)
			&::after
				background: url(../img/pen-icn_g.svg)
				opacity: 0
			&:hover
				&::before
					opacity: 0
				&::after
					opacity: 1


.burger-menu
	position: fixed
	left: 0
	top: 0
	width: 100%
	z-index: 16
	background: #F6F7FA
	opacity: 0
	visibility: hidden
	transition: all .5s ease
	&.active
		opacity: 1
		visibility: visible
	.bm-top
		padding-top: 37px
		padding-bottom: 31px
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: 0
			left: 50%
			width: calc(100% - 100px)
			transform: translateX(-50%)
			background: rgba(#DAE3EC,.8)
			height: 1px
		.bmt-logo
			img
				display: block
				max-width: 100%
		.bm-close
			width: 30px
			height: 30px
			position: absolute
			right: 6%
			top: 50%
			margin-top: -15px
			background: no-repeat url(../img/close-menu.svg) 50%
			cursor: pointer
	.bm-mid
		padding-top: 81px
		padding-bottom: 81px
		.my-container.flex
			flex-wrap: wrap
		.bmm-col
			width: 33.33%
			&.space-between
				display: flex
				flex-wrap: wrap
				flex-direction: column
				justify-content: space-between
			.bmm-link
				display: block
				color: $blue
				font-size: 50px
				line-height: 40px
				font-family: $df
				font-weight: 400
				letter-spacing: -0.04em
				margin-bottom: 49px
				&:hover
					color: $gold
				&:last-child
					margin-bottom: 0px
			.bmm-ul
				li
					a
						display: block
						color: $blue
						font-size: 20px
						line-height: 37px
						font-weight: 400
						&:hover
							color: $gold

.right-menu
	position: fixed
	z-index: 15
	border-left: 1px solid #D6DBE4
	right: 0
	top: 0
	min-width: 265px
	max-width: 265px
	height: 100vh
	background: rgba(255, 255, 255, 0.3)
	backdrop-filter: blur(31px)
	.rm-top
		display: flex
		align-items: center
		justify-content: space-between
		padding-left: 47px
		padding-right: 47px
		padding-top: 47px
		padding-bottom: 47px
		position: absolute
		left: 0
		top: 0
		width: 100%
		.rmt-ltr
			width: 25px
			height: 18px
			position: relative
			cursor: pointer
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transition: all .5s ease
				background: url(../img/ltr-icn.svg)
			&::after
				background: url(../img/ltr-icn_h.svg)
				opacity: 0
			&:hover
				&::before
					opacity: 0
				&::after
					opacity: 1
		.rmt-burger
			width: 28px
			height: 15px
			position: relative
			cursor: pointer
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transition: all .5s ease
				background: url(../img/burger-icn.svg)
			&::after
				background: url(../img/burger-icn_h.svg)
				opacity: 0
			&:hover
				&::before
					opacity: 0
				&::after
					opacity: 1
		.rmt-order
			width: 23px
			height: 16px
			position: relative
			cursor: pointer
			&::before,
			&::after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transition: all .5s ease
				background: url(../img/pen-icn.svg)
			&::after
				background: url(../img/pen-icn_g.svg)
				opacity: 0
			&:hover
				&::before
					opacity: 0
				&::after
					opacity: 1
	.rm-center
		height: 100%
		display: flex
		padding-left: 47px
		padding-right: 25px
		align-items: center
		width: 100%
		.rmc-center-wrap
			position: relative
			width: 100%
			// .rmc-progress-wrap
			// 	position: absolute
			// 	left: 0
			// 	top: 2px
			// 	width: 4px
			// 	height: 100%
			// 	overflow: hidden
			// .rmc-progress
			// 	position: absolute
			// 	left: 0
			// 	top: -28px
			// 	width: 4px
			// 	height: calc(100% + 17px)
			// 	background: #E6EBF2
			// 	.rmc-p-line
			// 		position: absolute
			// 		top: 0
			// 		left: 0
			// 		width: 100%
			// 		height: 7.5%
			// 		background: $blue
			// 		transition: all .5s ease
			.rmc-menu
				.rmc-itm
					margin-bottom: 25px
					&:last-child
						margin-bottom: 0px
					.rmc-i-hdr
						display: block
						color: #9399A4
						font-size: 20px
						line-height: 20px
						font-weight: 400
						letter-spacing: -0.015em
						&:hover
							color: $gold
						&.active
							color: $blue
							&:hover
								color: $gold
					ul
						padding-top: 19px
						padding-bottom: 6px
						display: none
						li
							margin-bottom: 7px
							&:last-child
								margin-bottom: 0px
							&.active
								a
									color: $blue
							a
								display: block
								font-size: 16px
								line-height: 24px
								font-weight: 400
								letter-spacing: -0.015em
								color: #9399A4
								&:hover
									color: $gold

.section
	height: 100vh
	width: 100%
	overflow: hidden

.part-bg-wrap
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	// .pbw-img
	// 	position: absolute
	// 	left: 0
	// 	top: 0
	// 	width: 100%
	// 	height: 100%
	// 	opacity: 1
	// 	overflow: hidden
	// 	img
	// 		vertical-align: middle
	// 		border: 0px solid #000
	// 		-ms-interpolation-mode: bicubic
	// 		height: auto
	// 		max-width: 100%
	canvas
		position: absolute
		left: 0
		top: 0
		display: block
	.pbw-part
		position: absolute
		width: 100%
		height: 100%

.flex-wrap
	display: flex
	width: 100%
	height: 100vh
	position: relative
	.flex-block
		width: 100%

.s-solutions
	.flex-wrap
		align-items: flex-end
		.flex-block
			padding-bottom: 13.5vh
			position: relative
			z-index: 2

	.my-container.flex
		flex-wrap: wrap
	.title
		width: 66%
	.s-social
		position: absolute
		bottom: 36px
	.ss-text
		width: 34%
		padding-left: 71px
		padding-top: 15px
		position: relative
		&::before
			content: ''
			position: absolute
			left: 9px
			top: 13px
			width: 29px
			height: 23px
			background: url(../img/link-icn.svg)
		.sst-descr
			display: block
			color: $blue
			font-size: 20px
			line-height: 30px
			letter-spacing: -0.015em
			margin-bottom: 33px
			&:last-child
				margin-bottom: 0px

.scroll-down
	position: absolute
	right: 309px
	bottom: 45px
	&::after
		content: ''
		position: absolute
		width: 16px
		height: 9px
		background: url(../img/mouse-arr.svg)
		left: 50%
		margin-left: -8px
		bottom: -10px
		animation: scroll-down 1.5s ease 0s infinite


.s-group
	background: url(../img/sg_bg.jpg) 75% 50%
	background-size: cover
	.flex-wrap
		align-items: flex-end
	.my-container.padding-right
		position: relative
		padding-top: 100px
		padding-bottom: 73px
	.h2
		max-width: 977px
		width: 100%
		margin-bottom: 45px
	.sg-btn-wrap
		display: flex
		.sg-name
			color: $blue
			display: block
			font-size: 20px
			line-height: 30px
			letter-spacing: -0.015em
			margin-right: 66px
			position: relative
			top: 3px
		.btn.btn-video
			align-self: flex-start

.s-three
	.my-container.padding-right
		position: relative
		padding-top: 19.2vh
		padding-bottom: 60px
	.flex-wrap
		.flex-block
			display: flex
			flex-wrap: wrap
			flex-direction: column
			justify-content: space-between
	.h2
		max-width: 1100px
		margin-bottom: 30px
		position: relative
		z-index: 1
	.st-items
		display: flex
		.st-itm
			position: relative
			margin-right: 96px
			transition: all .8s ease
			cursor: pointer
			&:last-child
				margin-right: 0px
			&.active
				padding-right: 294px
				.sti-hdr
					color: $gold
					&::after
						opacity: 1
						animation: arr-hover .5s ease 0s 1
				.sti-img
					opacity: 1
				.sti-descr
					opacity: 1
			.sti-img
				position: absolute
				opacity: 0
				right: -70px
				bottom: 100px
				transition: all 1s ease
				img
					display: block
					max-width: 100%
			.sti-hdr
				display: inline-block
				margin-bottom: 3px
				transition: all .5s ease
				position: relative
				z-index: 1
				&::after
					content: ''
					position: absolute
					width: 18px
					height: 18px
					right: -38px
					top: 10px
					background: url(../img/big-arr.svg)
					transition: all .5s ease
					opacity: 0
			.sti-descr
				display: block
				color: $gold
				font-size: 20px
				line-height: 30px
				letter-spacing: -0.015em
				opacity: 0
				transition: all .5s ease
				position: relative
				z-index: 1

.s-graphics
	background: #F6F7FA
	.apexcharts-gridlines-horizontal
		display: none
	.my-container
		position: relative
	.sg-chart-descr
		position: absolute
		bottom: 10px
		left: 10px
		font-size: 16px
		line-height: 16px
		font-weight: 400
		color: #9399A4
	.sg-top
		display: flex
		align-items: center
		margin-bottom: 81px
		padding-top: 54px
		.status
			position: relative
			top: 0
			left: 0
			margin-right: 93px
		.sg-nav
			display: flex
			.sg-nv-itm
				color: $blue
				font-size: 20px
				line-height: 20px
				font-weight: 400
				margin-right: 37px
				padding-left: 16px
				padding-right: 16px
				padding-top: 10px
				padding-bottom: 11px
				border-radius: 20px
				transition: all .5s ease
				cursor: pointer
				&:hover
					color: $gold
				&.active
					background: $gold
					color: #fff
				&:last-child
					margin-right: 0px
	.sg-content-wrap
		position: relative
		z-index: 1
		.sg-content
			display: none
			&.active
				display: block
			.sgc-descr
				margin-bottom: 40px
			.sgc-ul
				margin-bottom: 20px
				li
					display: flex
					.sgc-ul-gr
						color: #9399A4
						font-size: 20px
						line-height: 48px
						font-weight: 400
					.sgc-ul-bl
						font-size: 20px
						line-height: 48px
						font-weight: 400
						color: $blue
						padding-left: 30px
						position: relative
						.quest
							position: absolute
							left: 2px
							top: 0

	.sg-chart-wrap
		position: absolute
		bottom: 40px
		left: 10px
		width: calc(100% - 281px)
		height: 60vh
		overflow: hidden
		.apexcharts-toolbar
			display: none
		.sg-chart
			opacity: 0
			visibility: hidden
			transition: all .4s ease
			position: absolute
			left: 0
			top: 0
			width: 100%
			&.active
				opacity: 1
				visibility: visible
				transition: all 1s ease .3s

.s-why
	&.sw-reverse
		background: #F6F7FA
		.sw-nav
			order: -1
		.sw-content-wrap
			padding-right: 0px
			padding-left: 109px
	.flex-wrap
		position: relative
		padding-top: 60vh
		.flex-block
			display: flex
			position: relative
			z-index: 1
	.sw-mobile-slider
		margin-bottom: 14px
		width: 100%
		display: none
		.swiper-wrapper
			width: 100%
		.swiper-slide
			width: auto
			.swms-itm
				font-size: 14px
				line-height: 30px
				font-weight: 500
				color: #CACFD8
				letter-spacing: -0.045em
				display: block
				width: 100%
				&.active
					color: $blue
	.sw-content-wrap
		width: calc(100% - 516px)
		padding-right: 104px
		.sw-content
			display: none
			&.active
				display: block
	.sw-nav
		width: 516px
		position: relative
		top: -9px
		.sw-nv-itm
			cursor: pointer
			&.active,
			&:hover
				.sw-nv-descr
					color: $blue
				.sii-arr
						animation: arr-hover .5s ease 0s 1
			.sw-nv-descr
				display: block
				color: #CACFD8
				font-size: 32px
				line-height: 64px
				letter-spacing: -0.045em
				font-weight: 500
				transition: all .5s ease
				.sii-arr
					position: relative
					top: -2px
					right: -5px
					display: none
					img
						max-width: 6px

.s-fond
	overflow: hidden
	.flex-wrap
		padding-top: 19.2vh
		padding-bottom: 60px
		.flex-block
			display: flex
			flex-direction: column
			flex-wrap: wrap
			justify-content: space-between
	.sf-descr
		color: $blue
		width: 100%
		max-width: 1081px
		position: relative
		z-index: 1
	.sf-items
		width: 100%
		.sf-itm
			margin-bottom: 15px
			transition: all 1s ease
			position: relative
			display: block
			&.active
				padding-bottom: 42px
				.sfi-hdr
					color: $gold
				.sfi-descr
					opacity: 1
					&::after
						animation: arr-hover .5s ease 0s 1
				.sfi-img
					opacity: 1
			&:last-child
				margin-bottom: 0px
			.sfi-hdr
				display: block
				color: $blue
				font-size: 32px
				line-height: 48px
				font-weight: 500
				letter-spacing: -0.045em
				transition: all .5s ease
			.sfi-descr
				color: $gold
				font-size: 20px
				line-height: 30px
				font-weight: 400
				letter-spacing: -0.015em
				display: inline-block
				position: absolute
				padding-right: 24px
				left: 2px
				top: 52px
				opacity: 0
				transition: all .5s ease
				&::after
					content: ''
					position: absolute
					width: 10px
					height: 11px
					background: url(../img/small-arr.svg)
					right: 0px
					top: 12px
			.sfi-img
				position: absolute
				left: 53%
				bottom: -18px
				opacity: 0
				transition: all 1s ease
				img
					display: block
					max-width: 100%

.s-invest
	background: #F6F7FA
	.scroll-down
		z-index: 2
	.flex-wrap
		padding-top: 19.2vh
		padding-bottom: 60px
		.flex-block
			display: flex
			align-items: flex-end
			position: relative
			z-index: 1
	.si-items
		.si-itm
			display: block
			color: $blue
			font-size: 32px
			line-height: 64px
			font-weight: 500
			letter-spacing: -0.045em
			&:hover
				color: $gold
				.sii-arr
					animation: arr-hover .5s ease 0s 1
			.sii-arr
				position: relative
				top: -6px
				right: -10px
				display: inline-block

.s-process
	.flex-wrap
		padding-top: 19.2vh
		padding-bottom: 60px
		.flex-block
			display: flex
			flex-direction: column
			flex-wrap: wrap
			justify-content: space-between
	.sp-descr
		color: $blue
		width: 100%
		max-width: 1326px
		position: relative
		z-index: 1
	.sp-link
		display: block
		position: relative
		width: 100%
		&:hover
			.spl-descr
				&::after
					animation: arr-hover .5s ease 0s 1
		.spl-hdr
			display: block
			color: $gold
			letter-spacing: -0.02em
			font-weight: 500
			position: relative
			z-index: 1
			text-transform: uppercase
		.spl-descr
			color: $gold
			font-size: 20px
			line-height: 30px
			font-weight: 400
			letter-spacing: -0.015em
			display: inline-block
			padding-right: 24px
			transition: all .5s ease
			position: relative
			z-index: 1
			&::after
				content: ''
				position: absolute
				width: 10px
				height: 11px
				background: url(../img/small-arr.svg)
				right: 0px
				top: 12px
		.spl-img
			position: absolute
			right: 4.6%
			bottom: 25px
			img
				display: block
				max-width: 100%

.s-team
	background: #F6F7FA
	.flex-wrap
		padding-top: 19.2vh
		padding-bottom: 60px
		.flex-block
			position: relative
			z-index: 1
	.st-hdr
		margin-bottom: 69px
		max-width: 1326px
	.st-slider
		.swiper-pagination
			display: none
		.swiper-slide
			width: 33.33%
			&.mobile-visible
				display: none
			.sts-itm
				display: flex
				padding-right: 15px
				margin-bottom: 25px
				&:hover
					.sts-text
						.sts-name
							color: $gold
				&:last-child
					margin-bottom: 0px
				.sts-photo	
					min-width: 73px
					max-width: 73px
					height: 73px
					background-size: cover
					background-position: 50%
					border-radius: 50%
					overflow: hidden
				.sts-text
					width: calc(100% - 73px)
					padding-left: 59px
					position: relative
					top: 3px
					.sts-name
						display: block
						color: $blue
						font-size: 20px
						line-height: 30px
						font-weight: 400
						letter-spacing: -0.015em
						transition: all .5s ease
					.sts-status
						display: block
						color: #9399A4
						font-size: 20px
						line-height: 30px
						font-weight: 400
						letter-spacing: -0.015em
						min-height: 60px

.s-partners
	.flex-wrap
		padding-top: 19.2vh
		padding-bottom: 60px
		.flex-block
			display: flex
			flex-direction: column
			justify-content: space-between
	.sp-top
		.sp-descr
			margin-bottom: 22px
			max-width: 1326px
		.spt-items
			display: flex
			.sp-itm
				color: $blue
				font-size: 20px
				line-height: 20px
				font-weight: 400
				margin-right: 37px
				padding-left: 16px
				padding-right: 16px
				padding-top: 10px
				padding-bottom: 11px
				border-radius: 20px
				transition: all .5s ease
				cursor: pointer
				&:hover
					color: $gold
				&.active
					background: $gold
					color: #fff
				&:last-child
					margin-right: 0px
	.spt-content-wrap
		.spt-content
			display: none
			&.active
				display: block
			.spt-lg-items
				max-width: 1493px
				width: 100%
				.spt-lg-itm
					display: flex
					align-items: center
					border-bottom: 1px solid #E4E7EC
					padding-top: 23.5px
					padding-bottom: 23.5px
					&:last-child
						border-color: transparent
					.spt-descr
						color: $blue
						font-size: 20px
						line-height: 30px
						font-weight: 400
						letter-spacing: -0.015em
						width: 52%
						padding-right: 15px
						img
							display: none
					.spt-logos
						display: flex
						width: 48%
						align-items: center
						.spt-logo
							margin-right: 30px
							&:last-child
								margin-right: 0px
							img
								margin: auto
								display: block
								max-width: 100%
								align-self: center
			.spt-txt-items
				max-width: 1493px
				width: 100%
				.spt-txt-itm
					display: flex
					border-bottom: 1px solid #E4E7EC
					padding-top: 29px
					padding-bottom: 29px
					&:last-child
						border-color: transparent
					.spt-t-hdr
						color: $blue
						font-size: 20px
						line-height: 30px
						font-weight: 400
						letter-spacing: -0.015em
						padding-right: 15px
						min-width: 323px
						max-width: 323px
						img
							display: none
					.spt-t-descr
						color: $blue
						font-size: 15px
						line-height: 32px
						font-weight: 500
						letter-spacing: -0.045em
						width: calc(100% - 323px)

.s-news
	background: #F6F7FA
	.swiper-pagination
		justify-content: flex-end
		z-index: 3
	.flex-wrap
		padding-top: 19.2vh
		padding-bottom: 26px
		.flex-block
			display: flex
			flex-direction: column
			justify-content: space-between
	.sn-top
		.sn-descr
			max-width: 1495px
			width: 100%
			margin-bottom: 22px
		.snt-btn-wrap
			display: flex
			align-items: center
			.btn
				margin-right: 47px
				&.mobile-visible
					display: none
	.sn-slider
		.sns-more-btn
			margin-top: -16px
			.more-btn
				display: inline-block
				font-size: 20px
				line-height: 20px
				letter-spacing: -0.015em
				color: $blue
				font-weight: 400
				position: relative
				z-index: 2
				&:hover
					color: $gold
				img
					transform: rotate(90deg)
					margin-left: 7px

.news-item
	display: block
	.ni-img
		height: 196px
		position: relative
		width: 100%
		border-radius: 8px
		overflow: hidden
		.ni-i-bg
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-size: cover
			background-position: 50%
		.ni-tags
			display: flex
			position: absolute
			bottom: 0
			left: 0
			padding-left: 10px
			padding-right: 10px
			padding-bottom: 10px
			.ni-tg
				color: #FFFFFF
				font-size: 18px
				line-height: 18px
				font-weight: 400
				background: $blue
				padding-top: 9px
				padding-bottom: 9px
				padding-left: 15px
				padding-right: 15px
				margin-right: 5px
				border-radius: 18px
	.ni-text
		padding-top: 34px
		padding-bottom: 34px
		.nit-hdr
			display: block
			color: $blue
			font-size: 20px
			line-height: 30px
			font-weight: 400
			letter-spacing: -0.015em
			margin-bottom: 21px
		.nit-date
			display: block
			color: #9399A4
			font-size: 18px
			line-height: 18px
			font-weight: 400

.close-custom-popup
	z-index: 18
	position: fixed
	width: 35px
	height: 35px
	background: no-repeat url(../img/close-popup.svg) 50%
	cursor: pointer
	right: 35px
	top: 15px
	opacity: 0
	transition: all .5s ease
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible

.custom-popup
	z-index: 16
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100vh
	background: #fff
	overflow-y: auto
	opacity: 0
	visibility: hidden
	transition: all .5s ease
	&.active
		opacity: 1
		visibility: visible
	.status
		position: relative
		top: 0
		left: 0
		right: 0
		bottom: 0
	.cp-top
		position: absolute
		left: 0
		top: 0
		padding-top: 59px
	.cp-content.cp-scheme
		padding-top: 96px
		padding-bottom: 96px
		.scroll-down
			right: 25px
			top: 90vh
			bottom: auto
		.cps-img
			margin-bottom: 65px
			img
				display: block
				max-width: 100%
				margin: 0 auto
		.cps-text-items
			.cps-txt
				position: relative
				padding-left: 90px
				padding-right: 100px
				margin-bottom: 88px
				&:last-child
					margin-bottom: 0px
				.cps-num
					position: absolute
					left: 0
					top: 7px
					border: 1px solid #1B3050
					border-radius: 10px
					color: $blue
					font-size: 13px
					line-height: 13px
					letter-spacing: -0.045em
					font-weight: 400
					display: flex
					justify-content: center
					align-items: center
					text-align: center
					width: 40px
					height: 32px
					&.gold
						color: $gold
						border-color: $gold
				.cps-hdr
					display: block
					color: $blue
					font-size: 22px
					line-height: 48px
					font-weight: 500
					letter-spacing: -0.045em
					margin-bottom: 47px
					&.gold
						color: $gold
						border-color: $gold
				ul
					li
						display: block
						color: $blue
						font-size: 20px
						line-height: 24px
						font-weight: 400
						letter-spacing: -0.015em
						margin-bottom: 48px
						&:last-child
							margin-bottom: 0px
	.cp-content.cp-two
		flex-wrap: wrap
		display: flex
		height: 100%
		.cpt-item
			width: 50%
			padding-left: 52px
			padding-right: 52px
			padding-top: 135px
			padding-bottom: 135px
			&:nth-child(even)
				background: #F6F7FA
			.status
				position: absolute
				left: 52px
				top: 68px
				right: auto
				bottom: auto
			.cpt-hdr
				color: $blue
				margin-bottom: 37px
			.cpt-descr
				display: block
				color: $blue
				font-size: 15px
				line-height: 32px
				font-weight: 500
				letter-spacing: -0.045em
				margin-bottom: 57px
			ul
				li
					display: flex
					font-size: 14px
					line-height: 18px
					font-weight: 400
					color: $blue
					padding-left: 102px
					position: relative
					margin-bottom: 32px
					&:last-child
						margin-bottom: 0px
					.cpt-num
						border: 1px solid #1B3050
						border-radius: 10px
						background: #fff
						text-align: center
						display: flex
						justify-content: center
						align-items: center
						font-size: 13px
						line-height: 13px
						letter-spacing: -0.045em
						color: $blue
						width: 83px
						height: 32px
						position: absolute
						left: 0
						top: 50%
						margin-top: -16px
	.cp-content.cp-scheme-solo
		padding-top: 96px
		padding-bottom: 96px
		height: 100%
		.my-container.flex
			align-items: center
			height: 100%
	.cp-content.cp-text
		padding-top: 178px
		padding-bottom: 96px
		height: 100%
		.my-container
			max-width: 1277px
			width: 100%
			margin-left: 0px
		.cpt-hdr
			margin-bottom: 43px
		.cpt-descr
			color: $blue
			font-size: 26px
			line-height: 44px
			font-weight: 400
			letter-spacing: -0.015em
	.cp-content.cp-team
		padding-top: 160px
		padding-bottom: 96px
		height: 100%
		.my-container
			position: relative
		.cpt-top
			display: flex
			position: relative
			z-index: 1
			margin-bottom: 82px
			.cpt-t-img
				width: 219px
				height: 219px
				position: relative
				border-radius: 50%
				overflow: hidden
				span
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					background-size: cover
					background-position: 50%
			.cpt-t-txt
				padding-left: 66px
				width: calc(100% - 219px)
				padding-top: 16px
				.cpt-tt-name,
				.cpt-tt-status,
				.cpt-tt-mail
					display: block
					color: $blue
					font-size: 32px
					line-height: 48px
					letter-spacing: -0.045em
					font-weight: 500
				.cpt-tt-status
					color: #9399A4
				.cpt-tt-mail
					color: $gold
		.cpt-img
			position: absolute
			right: 9%
			top: 2.5%
		.cpt-text
			position: relative
			z-index: 1
			max-width: 1502px
			width: 100%
			ul
				li
					display: block
					position: relative
					padding-left: 18px
					color: $blue
					font-size: 20px
					line-height: 24px
					font-weight: 400
					letter-spacing: -0.015em
					margin-bottom: 24px
					&:last-child
						margin-bottom: 0px
					&::before
						content: ''
						position: absolute
						left: 0
						top: 11px
						width: 3px
						height: 3px
						border-radius: 50%
						background: $blue
	.cp-content
		img
			display: block
			max-width: 100%
			margin: 0 auto


footer
	.flex-wrap
		padding-top: 19.2vh
		padding-bottom: 36px
	.ft-center
		padding-right: 45px
		.ftc-hdr
			margin-bottom: 69px
		.ftc-flex
			display: flex
			justify-content: space-between
			.ftc-nav
				min-width: 345px
				max-width: 345px
				.ftc-nv-itm
					display: block
					color: $blue
					font-size: 32px
					line-height: 64px
					font-weight: 500
					letter-spacing: -0.045em
					cursor: pointer
					transition: all .5s ease
					.ftc-nv-content
						display: none
					.ftc-nv-img
						position: relative
						top: -6px
						right: -10px
						display: inline-block
					&:hover,
					&.active
						color: $gold
						.ftc-nv-img
							animation: arr-hover .5s ease 0s 1
			.ftc-content-wrap
				max-width: 371px
				min-width: 371px
				padding-top: 15px
				.ftc-content
					display: none
					&.active
						display: block
					.ftc-cw-hdr
						display: block
						color: $blue
						font-size: 24px
						line-height: 38px
						font-weight: 500
						margin-bottom: 20px
					.ftc-cw-descr
						display: block
						color: $blue
						font-size: 13px
						line-height: 22px
						font-weight: 400
			.ftc-contacts
				min-width: 444px
				max-width: 444px
				.ftc-c-itm
					margin-bottom: 15px
					&:last-child
						margin-bottom: 0px
					.ftc-ci-mail
						display: block
						color: $blue
						font-size: 32px
						line-height: 64px
						font-weight: 500
						&:hover
							color: $gold
					.ftc-ci-descr
						display: block
						color: #9399A4
						font-size: 18px
						line-height: 18px
						font-weight: 400

	.ft-btm
		position: absolute
		bottom: 0
		display: flex
		align-items: center
		padding-bottom: 60px
		.ftb-phone
			font-size: 63px
			line-height: 75px
			letter-spacing: -0.02em
			font-weight: 500
			color: $blue
			margin-right: 91px
			&:hover
				color: $gold

@import "media" // Всегда в конце